<div class="card text-center mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <%= link_to "@"+post.user.username, users_show_path(user_id: post.user.id) %>
      </div>
      <div class="col text-muted">
        <%= time_ago_in_words(post.created_at) %>
      </div>
      <div class="col text-muted">
        <%= post.visibility %>
      </div>
      <div class="col">
        <div class="btn-group btn-group-sm" role="group">
          <% if !current_page?(post) %>
            <%= link_to "View", post, class: "btn btn-primary"%>
          <% end %>
          <% if can? :edit, post %>
            <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary"%>
          <% end %>
          <% if can? :delete, post %>
            <%= link_to "Delete", post, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text"><%= post.content %></p>
    <div class="row">
      <div id="post_<%= post.id %>_likes" class = "col-lg-9">
        <%= render "shared/like", post: post%>
      </div>
    </div>
  </div>
  <div class="card-footer text-left">
    <% if post.comments.any? || user_signed_in? %>
      <h3>Comments</h3>
    <% end %>
    <% if post.comments.any? %>
      <% post.comments.limit(@limit).each do |comment| %>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-9">
                <%= link_to "@"+comment.user.username, users_show_path(user_id: comment.user.id) %>
              </div>
              <div class="col">
                <div class="btn-group btn-group-sm" role="group">
                  <% if can? :Edit, comment %>
                    <%= link_to "Edit", edit_post_comment_path(post, comment), class: "btn btn-primary"%>
                  <% end %>
                  <% if can? :delete, comment %>
                    <%= link_to "Delete", post_comment_path(post, comment), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
                  <% end %>
                </div>
              </div>
            </div>
            <p class="card-subtitle"><%= comment.content%></p>
          </div>
        </div>
      <% end %>
      <% if post.comments.count > @limit %>
        <%= link_to "More Comments", post %>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <%= render partial:"shared/comment_form", locals: {post: post, comment: @comment}%>
    <% end %>
  </div>
</div>