<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-group") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="col-lg-12 mt-2">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Enter Full Name", class: "form-control"%>
  </div>
  <div class="col-lg-12 mt-2">
    <%= f.text_field :username, autocomplete: "username", placeholder: "Choose username", class: "form-control" %>
  </div>
  <div class="col-lg-12 mt-2">
    <%= f.email_field :email, autocomplete: "email", placeholder: "Enter your e-mail", class: "form-control"%>
  </div>
  <div class="col-lg-12 mt-2">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter Password" , class: "form-control"%>
  </div>
  <div class="col-lg-12 mt-2">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your password" , class: "form-control"%>
  </div>
  <div class="col-lg-10 mt-2">
    <%= f.label :upload_your_profile_pic%>
    <%= f.file_field :image, class:"form-control-file", accept: "image/jpeg,image/gif,image/png"%>
  </div>
  <div class="col-lg-10 mt-2">
    <%= f.submit "Sign up", class:"btn btn-primary" %>
  </div>
<% end %>